<div class="clearfix bg-zumba-black">
    <div class="left inline" style="width: 50%;">
		<iframe src="videos/taster.html" class="video" style="width: 100%;" scrolling="no" seamless="seamless"></iframe>
	</div>
	<div class="right inline" style="width: 50%; min-width: 420p; min-height: 420px;">
		<img src="images/fitness-channel-image.jpg" alt="Having fun with Zumba!" style="width: 100%; height: 100%;" />
	</div>
</div>
<div class="clearfix">
    <div class="fg-zumba-white bg-zumba-green inline left" style="width: 200px; min-height: 500px; max-height: 1200px; padding: 0 1em 1em 1em;">
        <h2 class="center">Events</h2>
        
        <ul class="fg-zumba-pink" style="list-style: square url('images/small-square.jpg');">
            <li><span class="bold">August 1st, 2012</span>
                <div class="fg-zumba-black">
                    Location: Zumba Studio<br>
                    Time: TBA
                </div>
            </li>
        </ul>
        
        <span class="fg-zumba-pink center bold">More events are coming, stay tuned for details!!!</span>
    </div>
    <div class="center inline" style="padding-left: 1em; width: 70%; overflow: hidden;">
    	<div class="center">
            <h1>Fitness Channel</h1>
            
            <div class="inline" style="padding-right: 2em;">
                <a href="#" title="View stream"><img src="images/small-stay-tuned-black-img.jpg" alt="Stay tuned" /></a>
            </div>
            <div class="inline">
                <a href="#" title="View stream"><img src="images/small-stay-tuned-black-img.jpg" alt="Stay tuned" /></a>
            </div>
    	</div>
    	<div class="center" style="overflow: hidden; margin: 1.35em 0; border-top: 1px solid #000;">
    		<a href="#" title="View On Demand"><img src="images/view-on-demand-btn.jpg" alt="View on demand" /></a>
    	</div>
    </div>
</div>