<div class="clearfix">
    <div class="fg-zumba-white bg-zumba-green center inline left" style="width: 200px; height: 700px;">
        <img src="images/pink-tank-lady.jpg" alt="Team" />
        
        <h2>FITNESS CHANNEL</h2>
        <div><img src="images/small-stay-tuned-black-img.jpg" alt="Stay tuned" style="margin-bottom: 2em;" /></div>
        <div><img src="images/small-stay-tuned-black-img.jpg" alt="Stay tuned" style="margin-bottom: 2em;" /></div>
    </div>
    <div class="inline" style="padding-left: 5em; max-width: 70%; overflow: hidden;">
        <h2 class="fg-zumba-blue">EVENTS</h2>
        
        <iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showCalendars=0&amp;height=400&amp;wkst=1&amp;bgcolor=%2333cc00&amp;src=azucar.fitness%40gmail.com&amp;color=%2323164E&amp;src=en.usa%23holiday%40group.v.calendar.google.com&amp;color=%23691426&amp;ctz=America%2FNew_York" style=" border-width:0 " width="800" height="400" frameborder="0" scrolling="no"></iframe>
        
        <h3 class="fg-zumba-pink bold">August 1st, 2012</h3>
        <p>
            <span>Location: Zumba Studio</span>
            <span>Time: TBA (more info to come)</span>
        </p>
        
        <p class="fg-zumba-pink bold">More events are coming, stay tuned for details!!!</p>
        
        <div class="center" style="overflow: hidden; padding: 1.35em 0;">
            <a href="#" title="Register today!"><img src="images/register-today-btn.jpg" alt="Register today!" /></a>
    
    		<div style="float: right;">
    			<a href="https://twitter.com/#!/AzucarFitness" title="Follow us on Twitter!"><img src="images/small-Twitter-img3.jpg" alt="Twitter" /></a>
    			<a href="http://www.facebook.com/pages/Azucar-Fitness/278169302213266" title="Join us on Facebook!"><img src="images/small-Facebook-img4.jpg" alt="Facebook" /></a>
    		</div>
    	</div>
    </div>
</div>