<!-- Featured products -->
<div class="featured">
	<div class="featured-title">Featured Products</div>
	<div class="product">
		<img class="product-image" src="images/crew.gif" alt="10 Personal Training Sessions" />
		<div class="product-title">10 Personal Training Sessions</div>
		<div class="product-text">Regular price: $400.00</div>
		<div class="product-price">Sale price: $300.00</div>
	</div>
</div>

<!-- Media teaser -->
<iframe src="videos/taster.html" class="video"></iframe>

<!-- Introduction -->
<p>Welcome to Az&#250;car Fitness&#8482;! You are about to enter into the internet based, virtual gym where you can attend live aerobics classes on your laptop, internet enabled TV or phone, order fitness classes &lsquo;on demand&rsquo; and get live, personalized coaching.</p>
<p>We offer yoga, hula fitness, Zumba®, personal training, boot camps, and much more – <strong>available wherever and whenever you want them</strong>.</p>
<p>You can meet with one-on-one with your personal fitness coach who will design a program just for you and meet with them weekly to keep up your progress no matter where you are located. Classes are offered in HD quality video and are broadcast live on Sunday&rsquo;s and Monday&rsquo;s, and are available the rest of the week for replay.</p>
<p><strong>You CAN fit this into your busy  schedule!</strong><br></p>
<p>This is not an interactive tool or canned videos, this is live, one-on-one training and classes - <strong>real instructors, real coaches, real results</strong>.</p>
<p>You can get encouragement from your trainer when you need it most –<strong> when you AREN&rsquo;T at the gym.<br></strong></p>
<p>Imagine if you could take your favorite instructor on vacation with you. Your business travel need not be a reason to skip the gym or your personal coaching session. The gym comes with you and a fun work out is at your fingertips. Because these are offered in HD quality, you can feed them to your TV through your laptop or any internet device.</p>
<p><strong>So what are you waiting for? LET&rsquo;S GET STARTED!</strong></p>

<!-- Social media websites -->
<p style="clear: left;">
    <a href="http://www.facebook.com/pages/Azucar-Fitness/278169302213266" title="Join us on Facebook!"><img src="images/facebook-icon.png" alt="Visit us at Facebook!" width="41" height="37" style="float: left; height: 4em; width: 4em; margin-right: 1em;" /></a>
    <span style="margin-top: 2em;">Join us on Facebook!</span>
</p>
<p style="clear: left;">
    <a href="https://twitter.com/#!/AzucarFitness" title="Follow us on Twitter!"><img src="images/twitter-icon.png" alt="Follow us on Twitter!" style="float: left; height: 4em; width: 4em; margin-right: 1em;" /></a>
    <span>Follow us on Twitter!</span>
</p>