<div class="clearfix bg-zumba-black">
	<div class="left inline" style="width: 50%;">
		<!-- Media teaser -->
		<iframe src="videos/taster.html" class="video" style="width: 100%; height: 100%;"></iframe>
	</div>
	<div class="right inline" style="width: 50%;">
		<img src="images/pink-tank-lady-dancing.jpg" alt="Having fun with Zumba!" style="width: 100%; height: 100%;" />
	</div>
</div>

<div class="clearfix">
    <div class="fg-zumba-white bg-zumba-green center inline left" style="width: 250px; min-height: 500px; max-height: 1200px;">
        <h2>FITNESS CHANNEL</h2>
    
        <div><img src="images/small-stay-tuned-black-img.jpg" alt="Stay tuned" /></div>
    	<div><img src="images/small-stay-tuned-black-img.jpg" alt="Stay tuned" /></div>
    </div>
    <div class="inline" style="padding-left: 1em; max-width: 70%; overflow: hidden;">
    	<div>
    		<p>Welcome to Az&#250;car Fitness&#8482;! You are about to enter into the internet based, virtual gym where you can attend live aerobics classes on your laptop, internet enabled TV or phone, order fitness classes &lsquo;on demand&rsquo; and get live, personalized coaching.</p>
    		
    		<p>We offer yoga, hula fitness, Zumba®, personal training, boot camps, and much more – <strong>available wherever and whenever you want them</strong>.</p>
    		
    		<p>You can meet with one-on-one with your personal fitness coach who will design a program just for you and meet with them weekly to keep up your progress no matter where you are located. Classes are offered in HD quality video and are broadcast live on Sunday&rsquo;s and Monday&rsquo;s, and are available the rest of the week for replay.</p>
    		
    		<p><strong>You CAN fit this into your busy  schedule!</strong><br></p>
    		
    		<p>This is not an interactive tool or canned videos, this is live, one-on-one training and classes - <strong>real instructors, real coaches, real results</strong>.</p>
    		
    		<p>You can get encouragement from your trainer when you need it most –<strong> when you AREN&rsquo;T at the gym.<br></strong></p>
    		
    		<p>Imagine if you could take your favorite instructor on vacation with you. Your business travel need not be a reason to skip the gym or your personal coaching session. The gym comes with you and a fun work out is at your fingertips. Because these are offered in HD quality, you can feed them to your TV through your laptop or any internet device.</p>
    		
    		<p><strong>So what are you waiting for? LET&rsquo;S GET STARTED!</strong></p>
    	</div>
    	<div class="center" style="overflow: hidden; padding: 1.35em 0;">
    		<a href="#/events" title="Upcoming events"><img src="images/events-btn.jpg" alt="Upcoming event" /></a>
    		<img src="images/divider.jpg" alt="Divider" />
    		<a href="#/store" title="Store"><img src="images/store-btn.jpg" alt="Store" /></a>
    
    		<div style="float: right;">
    			<a href="https://twitter.com/#!/AzucarFitness" title="Follow us on Twitter!"><img src="images/small-Twitter-img3.jpg" alt="Twitter" /></a>
    			<a href="http://www.facebook.com/pages/Azucar-Fitness/278169302213266" title="Join us on Facebook!"><img src="images/small-Facebook-img4.jpg" alt="Facebook" /></a>
    		</div>
    	</div>
    </div>
</div>