<div class="clearfix">
    <div class="fg-zumba-white bg-zumba-green center inline left" style="width: 200px;">
        <img src="images/blue-tank-lady.jpg" alt="Workout Gear" style="width: 100%;" />
        
        <div class="fg-zumba-white bg-zumba-green" style="width: 200px; min-height: 500px; max-height: 1200px; padding: 0 0 1em 0em; text-align: left;">
            <h2 class="center">Events</h2>
            
            <ul class="fg-zumba-pink" style="list-style: square url('images/small-square.jpg');">
                <li><span class="bold">August 1st, 2012</span>
                    <div class="fg-zumba-black">
                        Location: Zumba Studio<br>
                        Time: TBA
                    </div>
                </li>
            </ul>
            
            <span class="fg-zumba-pink center bold">More events are coming, stay tuned for details!!!</span>
        </div>
    </div>
    <div class="inline" style="padding-left: 1em; max-width: 70%; overflow: hidden;">
        <h1 class="fg-zumba-blue">STORE</h1>
        
        <p>This is where you can purchase our services for personalized coaching, training, live or "on demand" fitness classes.</p>
        <p>There is even some fun workout gear!</p>
        <p>We accept all major credit cards and debit cards as well as PayPal for the fitness classes.</p>
        
        <h2>Featured Products</h2>
        
        <div>
            <div class="inline left">
                <img src="images/crew-img.jpg" alt="Crew" />
            </div>
            <div class="inline">
                <h3 class="fg-zumba-pink">10 Personal Training Sessions</h3>
                
                <p style="font-size: larger;">
                    <span class="fg-zumba-black">Regular price:</span>&nbsp;<span class="fg-zumba-pink">$400.00</span><br />
                    <span class="fg-zumba-black">Sale price:</span>&nbsp;<span class="fg-zumba-pink">$300.00</span>
                </p>
            </div>
        </div>
        
        <div class="center" style="overflow: hidden; padding: 1.35em 0;">
    		<a href="#/store" title="Register today"><img src="images/register-today-btn.jpg" alt="Store" /></a>
    
    		<div style="float: right;">
    			<a href="https://twitter.com/#!/AzucarFitness" title="Follow us on Twitter!"><img src="images/small-Twitter-img3.jpg" alt="Twitter" /></a>
    			<a href="http://www.facebook.com/pages/Azucar-Fitness/278169302213266" title="Join us on Facebook!"><img src="images/small-Facebook-img4.jpg" alt="Facebook" /></a>
    		</div>
    	</div>
    </div>
</div>