<div class="featured">
	<div class="featured-title">Featured Products</div>
	<div class="product">
		<img class="product-image" src="images/crew.gif" alt="10 Personal Training Sessions" />
		<div class="product-title">10 Personal Training Sessions</div>
		<div class="product-text">Regular price: $400.00</div>
		<div class="product-price">Sale price: $300.00</div>
	</div>
</div>
This is where you can purchase our services for personalized coaching, training, live or 'on demand' fitness classes.
<p>There is even some fun workout gear!</p>
<p>We accept all major credit cards and debit cards as well a PayPal for the fitness classes.</p>