<div class="member">
  <div class="member-name">Name - Tommi Marsans - Zumba ®</div>
  <div class="member-photo"><img src="images/tommi-profile.jpg" alt="Trainer and Owner - Tommi" /></div>
  <div class="member-bio">
    <p>Tommi is a licensed Zumba ® and Zumbatomic ® instructor who  teaches in the Northern Virginia area. Her passion for Zumba® led her to become  an instructor in 2011. One summer she was on vacation and saw that her favorite  instructor was on vacation in the same city and was teaching a special drop in  class! Tommi thought, &ldquo;I wish I could take my Zumba ® instructor everywhere  with me!&rdquo; That was the genesis of Azúcar  Fitness&#8482;.  Tommi teaches Zumba Basic 1 classes for the  true beginner. Moves are fun but not complicated. As she says, &ldquo;Simple does not  mean EASY.&rdquo;  She loves the club music and  latin pop, so you will recognize some of the songs. Enjoy!</p>
  </div>
  <div class="member-media">
    <div class="member-media-video">
        <iframe src="video-short-set.html" class="video"></iframe>
    </div>
  </div>
</div>
<div class="member">
  <div class="member-name">Name - David Marsans - Personal Fitness Coaching</div>
  <div class="member-photo"><img src="images/dave-profile.jpg" alt="Trainer" /></div>
	<div class="member-bio">
	  <p>David has been coaching people in fitness since 2009. He began  his journey to address a genetic cholesterol issue and became obsessed with how  the body responds to challenge.  He was a  typical gym-rat until he realized that his gentle no-nonsense coaching style  was helpful to his workout partners. He began taking on clients and getting  results. He now has dozens of success stories and has recently expanded his  personal goals to include obtaining his second martial arts black belt. You can meet with David weekly or as often as  needed for encouragement and personalized work out routines.  Get ready for a brand new YOU!</p>
  </div>
  <!--<div class="member-media">
      <div class="member-media-video">Video</div>
  </div>-->
</div>